html,body {
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #f5fafe;
}

.page__hd {
    background-color: #fff;
    padding-bottom: 20px;
}

.title {
    padding: 15px;
}

.price {
    padding: 0 15px;
}

.item-price {
    border: 1px solid rgba(153, 153, 153, 1);
    border-radius: 10px;
    line-height: 1;
    text-align: center;
}

.item-price_month {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.item-price_old {
    margin-top: 0.5rem;
    font-size: 0.6rem;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    text-decoration: line-through;
}

.item-price_new {
    margin-top: 0.75rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: rgba(72, 166, 203, 1);
    margin-bottom: 1rem;
}

.mar {
    margin: 0 5px;
}

.page__ct {
    margin-top: 10px;
    background-color: #fff;
}

.weui-cell__hd {
    width: 1.85rem;
    height: 1.85rem;
}

.weui-cell__hd img {
    display: block;
    width: 100%;
    height: 100%;
}

.price-way {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.page__bd {
    position: fixed;
    bottom: 1.3rem;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
}

.active {
    border-color: blue !important;
}

.weui-btn_pay {
    background-color: #2f81fe;
    border-radius: 30px;
}

.active1 {
    background-color: #ebe263;
}

#iosDialog2 {
    display: none;
    opacity: 0;
}