@charset "utf-8";
.ck-slide ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ck-slide {
	position: relative;
	overflow: hidden;
}
.ck-slide ul.ck-slide-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
}
.ck-slide ul.ck-slide-wrapper li {
	position: absolute; margin-top:0px;
}
.ck-slide ul.ck-slide-wrapper li a{
	/*a标签是行内元素，宽高对a标签不起作用，这里必须添加line-height:0px;display:black，否则垂直滚动<li>之间会出现间隔*/
	line-height:0px;
	display:block;
}
.ck-slide .ck-prev, .ck-slide .ck-next {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 35px;
	height: 70px;
	margin-top: -35px;
	border-radius: 3px;
	opacity: .15;
	background: red;
	text-indent: -9999px;
	background-repeat: no-repeat;
	transition: opacity .2s linear 0s;
}
.ck-slide .ck-prev {
	left: 5px;
	background: url(../img/index/arrow-left.png) #000 50% no-repeat;
}
.ck-slide .ck-next {
	right: 5px;
	background: url(../img/index/arrow-right.png) #000 50% no-repeat;
}
.ck-slidebox {
	position: absolute;
	left: 50%;
	bottom: 12px;
	z-index: 30;
}
.ck-slidebox ul {
	height: 20px;
	padding: 0 4px;
	border-radius: 8px;
}
.ck-slidebox ul li {
	float: left;
	height: 12px;
	margin: 4px 4px;
}
.ck-slidebox ul li em {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
	text-indent: -9999px;
	cursor: pointer;
}
.ck-slidebox ul li.current em {
	background-color: #0AA1ED;
}
.ck-slidebox ul li em:hover {
	background-color: #0AA1ED;
}
.ck-slide{
	/* width: 1000px; */
	/* overflow: hidden; */
	/* margin: 20px auto 0px auto; */
	display: block;
	height: 350px; 
	border:1px solid #dddddd;
}
