html {
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;

}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    /* flex: 1; */
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-shadow: 0 0 .5rem black;
}

.key div {
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600
}

.playing {
    transform: scale(1.1);
    background-color: #ffc600;
    box-shadow: 0 0 2rem #ffc600
}