html {
  font-size: 12px;
  height: 100vh;
  font-family: -apple-system, sans-serif;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}
img {
  border-style: none;
  width: auto;
  height: auto;
}
body {
  font-size: 12px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.book-card {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 12px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  background-color: #fff;
}
.book-bought {
  display: flex;
  align-items: center;
  border-top: 1px solid #ecf0f3;
  cursor: pointer;
  padding: 8px 22px 8px 15px;
}
.book-bought .label {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}
.book-bought .users {
  height: 24px;
  overflow: hidden;
  display: inline-block;
  margin-left: 24px;
  flex-grow: 1;
}
.book-bought .users .user {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-size: cover;
  flex-shrink: 0;
  display: inline-block;
  margin-left: 10px;
}
.book-bought .users .user:first-child {
  margin-left: 0;
}
