$fz = 12px
$text_color = #333333
html
    font-size $fz
    height 100vh
    font-family -apple-system,sans-serif
    text-rendering optimizeLegibility // 优化文字渲染 增加抗锯齿
    color $text_color
    background-color #f4f5f5

img
    border-style none
    width auto
    height auto

body
    font-size $fz
    overflow-y scroll
    -webkit-overflow-scrolling touch

.book-card
    max-width 720px
    margin 0 auto
    margin-bottom 12px
    box-shadow 0 1px 2px 0 rgba(0,0,0,.15)
    background-color #ffffff

.book-bought
    display flex
    align-items center
    border-top 1px solid #ecf0f3
    cursor pointer
    padding 8px 22px 8px 15px
    .label
        color #666666
        font-size 16px
        font-weight 400
        display inline-flex
        align-items center
        flex-shrink 0
        // img
        //     vertical-align middle // 图片与旁边元素对齐
    .users
        height 24px
        overflow hidden
        display inline-block
        margin-left 24px
        flex-grow 1
        .user
            width 24px
            height 24px
            border-radius 50%
            background-size cover
            flex-shrink 0
            display inline-block
            margin-left 10px
            &:first-child
                margin-left 0